body {
    background-image: url(../img/utazas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0 15% ;
   
}
h1 {color: #0A1AE5;
    text-align: center;
}
a {
    font-size:25px;
    color: #404040;
    text-decoration: none;
    margin-left: 100px;
}

div {
    padding: 10px;
    background-color: #9AACBC;
}

.bg {
    background-color: rgba(32,225,239,0.5);
}
img{
    text-align: center;
}
p{
    font-size: 20px;
}