body {
    background-image: url(../img/utazas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0 12% ; 
}
.bg {
    background-color: rgba(255, 255, 255, 0.801);
    padding-bottom: 150px;
}

header nav div {
    padding-bottom: 52px;
    width: 74.6%;
    margin-left: 0px;
    padding-top: 0px;
}

header nav ul li {
    padding: 0, 15px;
    float: left;
    list-style-type: none;
}

header nav ul li a {
    padding: 10px;
    line-height: 56px;
    color: #333;   
}

header nav div ul li a:hover {
    background-color: #ae2735;
    color: #fff;
}

header nav div ul li a:visited {
    background-color: #ae2735;
    color: #fff;
}

header div {
    padding: 10px;
    background-color: #9AACBC;
}
header a {
    font-size:25px;
    color: #404040;
    text-decoration: none;
    margin-left: 100px;
}
/*header a:hover{
    color:aliceblue;
}

header a:active{
    color:red;
}*/

h1 {margin-top: 65px;   
    color: #0A1AE5;
    text-align: center;
    font-size: 50px;
}

h2 {   
    font-size: 30px;

}

h3 {
    font-size: 25px;
    padding-top: 50px;
    
    }

h2, h3 {
    text-align: center;
    

}


img{
    text-align: center;
}
p{
    font-size: 20px;
    padding:0 14px;
}


footer{
    border-top:3px solid black;
}
footer a {
text-decoration: none;
font-size: 15px;
color: #404040;
padding-right: 15px;
}
footer a:hover{
    color:red;
    font-weight:bold;
}
footer p {
    padding: 0;
    margin: 0;
    text-align: left;
    padding-right: 100px;
}
.footer-right {
    position: absolute;
    left: 74%;
    padding-top: 30px;
}

.footer-center {
    position: absolute;
    left: 40%;
    padding-top: 30px;
}
